body{
	margin:0;
	padding:0;
	font-size:16px;
	background: #CDCDCD;
}

header{
	height:50px;
	background:#333;
	background:rgba(47,47,47,0.98);
}

section{
	margin:0 auto;
	width:600px;
	padding:0 10px;
}

label{
	float:left;
	width:100px;
	line-height:50px;
	color:#DDD;font-size:24px;
	cursor:pointer;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

header input{
	float:right;
	width:60%;
	height:24px;
	margin-top:12px;
	text-indent:10px;
	border-radius:5px;
	box-shadow: 0 1px 0 rgba(255,255,255,0.24), 0 1px 6px rgba(0,0,0,0.45) inset;
	border:none
}

input:focus{
	outline-width:0
}

h2{
	position:relative;
}

span{
	position:absolute;
	top:2px;
	right:5px;
	display:inline-block;
	padding:0 5px;
	height:20px;
	border-radius:20px;
	background:#E6E6FA;
	line-height:22px;
	text-align:center;
	color:#666;
	font-size:14px;
}

ol,ul{
	padding:0;
	list-style:none;
}

.check{
	position:absolute;
	top:2px;
	left:10px;
	width:22px;
	height:22px;
	cursor:pointer;
}

.event{
	font-size: 24px;
	margin: 0;
}

li p input{
	top:3px;
	left:40px;
	width:70%;
	height:20px;
	line-height:14px;
	text-indent:5px;
	font-size:14px;
}

li{
	height:32px;
	line-height:32px;
	background: #fff;
	position:relative;
	margin-bottom: 10px;
	padding:0 45px;
	border-radius:3px;
/*	border-left: 5px solid #629A9C;*/
/*	box-shadow: 0 1px 2px rgba(0,0,0,0.07);*/
}

#count{
	float: left;
	height: 40px;
	font-size:16px;
}

.destroy{
	position:absolute;
	top:6px;
	right:10px;
	display:inline-block;
	width:25px;
	height:20px;
	line-height:14px;
	font-size:14px;
	cursor:pointer;
	text-align: center;
}

.selector{
	height: 40px;
	cursor: pointer;
	float: right;
	border:thin;
	border-radius: 5px;
	text-align: center;
	margin-left: 10px;
	background-color: white;
}

